<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lets Chat Homepage</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="topbar">
        <img src="/static/img/LOGO.png" width="100px" height="auto" alt="logo"/>
    </div>
    <div id="flex">
        <div id="navbar">
            <!-- home -->
            <a href="/home">
                <div class="active">
                    <img src="/static/img/home-icon.png" alt="home">
                    Home
                </div>
            </a>
            <!-- home -->
            <a href="/view_categories">
                <div class="nav-item">
                    <img src="/static/img/category - white.png" alt="category">
                    Categories
                </div>
            </a>
            <!-- create post -->
            {{if .LoggedInUser}}
            <a href="/create_post">
                <div class="nav-item">
                    <img src="/static/img/home-icon.png" alt="home">
                    Create Post
                </div>
            </a>
            {{end}}
            <!-- profile -->
            {{if .LoggedInUser}}
            <a href="/profile">
                <div class="nav-item">
                    <img src="/static/img/home-icon.png" alt="home">
                    Profile
                </div>
            </a>
            {{end}}
            <!-- logout -->
            {{if .LoggedInUser}}
            <a href="/logout">
                <div class="nav-item">
                    <img src="/static/img/home-icon.png" alt="home">
                    Log out
                </div>
            </a>
            {{else}}
            <a href="/login">
                <div class="nav-item">
                    <img src="/static/img/home-icon.png" alt="home">
                    Login
                </div>
            </a>
            {{end}}
        </div>
        <div id="middle-posts">
            <div class="greetings">
                {{if .LoggedInUser}}
                <h1>Welcome, {{.LoggedInUser}}!</h1>
                <p>Lets get to work</p>
                {{end}}
            </div>
            <div id="posts">
                {{range .Posts}}
                <div class="post-structure">
                    <a href="view_post/{{.PostID}}">
                    <div class="username">
                        <h5>{{.Username}}</h5>
                        <p>posted on ({{.PostDate}})</p>
                    </div>
                    <div class="post-category">
                        {{range .Categories}}
                        {{.}}
                        {{end}}
                    </div>
                    <div class="post-text">
                        {{.PostText}}
                    </div>
                </a>
                    <div class="post-options">
                        <!-- {{if $.LoggedInUser}} -->
                        <form method="POST" action="/like/{{.PostID}}">
                            <button type="submit"><div class="heart"></div></button>
                        </form>
                        <b>
                        Likes <span id="like-count-{{.PostID}}">   {{.LikeCount}}</span>
                        </b>
                        <form method="POST" action="/dislike/{{.PostID}}">
                            <button type="submit"><div class="heart"></div></button>
                        </form>
                        <b>
                        Dislikes <span id="dislike-count-{{.PostID}}">{{.DislikeCount}}</span>
                    </b>
                        <!-- {{end}} -->
                    </div>
                </div>
                {{end}}
            </div>
        </div>
        <div id="news">
            <img src="/static/img/climate.png" width="315px" height="auto" alt="climate">
            <div id="popular-category-box">
                <h4>Popular Categories</h4>
                {{range .PopularCategory}}
                <!-- category list item -->
                <a href="/category/{{.CategoryID}}">
                    <div class="category-box">
                        <div class="flex">
                            <img src="/static/img/category - pink.png" alt="category-icon">
                            <h6>{{.CategoryName}}</h6>
                        </div>
                        <p>{{.PostCount}} posts under this category</p>
                    </div>
                </a>
                {{end}}
            </div>
        </div>
    </div>
    
    <!-- {{if .LoggedInUser}}
        <h2>Welcome, {{.LoggedInUser}}!</h2>
    {{else}}
        <a href="/login">login</a>
    {{end}}
    <h2>lets chat</h2>
    {{if .LoggedInUser}}
        <a href="/profile">Profile</a><br>
        <a href="/create_post">create post</a><br>
        <a href="/create_category">Create a new category</a><br>
    {{end}}
    <a href="/view_categories">view Categories</a>
    <ul>
        {{range .Posts}}
          <li>
            <b>{{.Username}}</b> - <a href="view_post/{{.PostID}}"> {{.PostText}}</a> ({{.PostDate}})
            <br>
            Likes: <span id="like-count-{{.PostID}}">{{.LikeCount}}</span> | Dislikes: <span id="dislike-count-{{.PostID}}">{{.DislikeCount}}</span>
            <br>
            <b>Categories:</b>
            {{range .Categories}}
              {{.}}
            {{end}}
            <br>
                <form method="POST" action="/like/{{.PostID}}">
                    <button type="submit">Like</button>
                </form>
                <form method="POST" action="/dislike/{{.PostID}}">
                    <button type="submit">Dislike</button>
                </form>
          </li>
        {{end}}
    </ul>
    {{if .LoggedInUser}}
        <form method="POST" action="/logout">
            <button type="submit">Logout</button>
        </form>
    {{end}} -->

    <style>
        body{
            /* background-color: #fbfafb; */
            background-image: url(/static/img/background.png);
            background-size: cover; /* Optional: Cover the entire viewport */
            background-repeat: no-repeat; /* Optional: Prevent repeating */
            background-attachment: fixed; /* Make the background fixed */
        }
    </style>
</body>
</html>